<div class = "container">
<h1>ログイン</h1>
<br>
<%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
<div class ="login">
<%= f.label :メールアドレス %>
<%= f.email_field :email %>
</div>
<br>
<div class="login">
<%= f.label :パスワード %>
<%= f.password_field :password %>
</div>
<br>
<%= f.submit "ログイン", class: 'botton' %>
<% end %>
</div>
