<%= form_with(model: @image, local: true, url:choose_new_or_edit) do |form| %>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= @image.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @image.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="filed">
    <%= form.label :画像 %>
    <%= image_tag(@image.image.url, class: 'img-responsive center-block') if @image.image.url %>
    <%= form.file_field :image %>
    <%= form.hidden_field :image_cache %>
  </div>
  <br>
  <div class="image_title">
    <%= form.label :内容 %>
    <%= form.text_field :content %>
  </div>
  <br>
  <%= form.submit "送信", class: 'botton' %>
<% end %>
<%= link_to "投稿一覧画面にもどる", images_path %>
