<div class="container">
<h3>以下の内容で、送信する。</h3>

<%= form_with(model: @image, url: images_path, local: true) do |form| %>
<%= image_tag(@image.image.url, class: 'img-responsive center-block') %>
<%= form.hidden_field :image_cache %>
  <%= form.hidden_field :content %>

  <p><%= @image.content %></p>
  <%= form.submit  "登録する", class: 'botton' %>
<% end %>

<%= form_with(model:@image, url:new_image_path, local:true, method:"get") do |form| %>
  <%= form.hidden_field :image_cache %>
  <%= form.hidden_field :content %>
  <%= form.submit "戻る", name: "back", class: 'botton' %>
<% end %>
</div>
