<div class="text-center">
<h1>投稿一覧</h1>
<p><%= notice %></p>
<div class="container">
  <div class="row">
    <% @images.each do |image| %>
      <div class="col-xs-12 col-md-6">
        <p><%= image_tag image.image, class: 'img-responsive center-block' %></p>
        <p><%= image.content %></p>
        <p> 投稿者:<%= image.user.name %></p>
        <span><%= link_to '詳細', image_path(image.id), class:'botton' %></span>

        <% if logged_in? %>
          <% if image.user_id == current_user.id %>
            <span><%= link_to '編集', edit_image_path(image.id), data: {confirm: '本当に編集しますか？'}, class: 'botton' %></span>
            <span><%= link_to '削除', image_path(image.id),method: :delete, data: {confirm: '本当に削除しますか？'}, class:'botton' %></span>

          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<br>
<%= link_to '新しく投稿する', new_image_path, class:'new_image' %>
</div>
